div.floating-panel {
	text-align: center;
	background-color: rgba(166, 178, 108, 0.65);
	border-radius: 20px;
	width: 50%;
	left: 25%;
	top: -100vh;
	padding: 40px;
}

div.floating-panel span.floating-message {
	letter-spacing: 5px;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

div.home-curtain {
	height: 115vh;
	position: relative;
	margin-top: -10vh;
	background-color: white;
	opacity: 0;
	pointer-events: none;
}

div.glass-door {
	width: 30vw;
	height: 105vh;
	-webkit-filter: blur(10px);
	background-image: url("../images/parallax-home.jpg");
}

div.glass-door.left {
	border-right: 3px solid rgba(0, 0, 0, 0.5);
}

div.glass-door.left.inner {
	border-right: 1px solid rgba(0, 0, 0, 1);
	width: 50vw;
	left: -30vw;
	-webkit-filter: blur(4px);
}

div.glass-door.right {
	border-left: 3px solid rgba(0, 0, 0, 0.5);
	left: 20vw;
	top: -105vh;
}

div.glass-door.right.inner {
	border-left: 1px solid rgba(0, 0, 0, 1);
	width: 50vw;
	left: 50vw;
	-webkit-filter: blur(4px);
}

.bgimg-1 {
	background-image: url("../images/parallax-home.jpg");
	height: 110vh;
	margin-top: -115vh;
}

.parallax-1 {
	height: 105vh;
}

.overlay.overlay-1 {
	background-color: rgba(23, 46, 13, 0.65);
}

.overlay-1.overlay-bottom {
	top: 100vh;
}