body {
	font-family: Helvetica, Arial;
	letter-spacing: 1px;
}

img {
	pointer-events: none;
}

.section-1, .section-2, .section-3, .section-4, .section-5 {
	min-width: 800px;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgba(74, 98, 22, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(74, 98, 22, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(74, 98, 22, 0.2);
}

.section {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.no-style {
	background-color: inherit;
	padding: 5px 20px 5px 20px;
	font-size: 80%;
	border: none;
	cursor: pointer;
	outline: none;
	letter-spacing: 1px;
	text-align: center;
}

.default-position {
	display: inline-block;
	position: relative;
}

.fixed-background {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg {
	width: 100%;
	height: 140vh;
	z-index: 0;
}

.parallax {
	height: 100vh;
	overflow: hidden;
}

.curtain {
	background-color: rgba(0, 0, 0, 0.65);
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.layer-bottom { z-index: -1; }
.layer-1 { z-index: 1; }
.layer-2 { z-index: 2; }
.layer-3 { z-index: 3; }
.layer-4 { z-index: 4; }
.layer-5 { z-index: 5; }
.layer-6 { z-index: 6; }
.layer-title { z-index: 900; }
.layer-top { z-index: 999; }

/***********************HEADER SECTION****************************/
header {
	position: fixed;
	top: 0;
	margin-top: 10px;
	width: 100%;
	background-color: inherit;
	text-align: center;
}
header img {
	opacity: 0;
	position: fixed;
	float: left;
	left: 40px;
	width: 100px;
	height: auto;
	transition: ;
	-webkit-transition: opacity 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
}

img.invert {
	-webkit-filter: invert(100%);
}

div.title-menu-light {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.title-menu-dark {
	border-bottom: 1px solid rgb(100, 100, 100);
}

.btn-non-active-light {
	color: rgb(0, 0, 0, 0.5);
	font-weight: 600;
	width: 120px;
	margin-bottom: -2px;
	padding-top: 10px;
	border-bottom: 2px solid transparent;
}

.btn-non-active-light:hover {
	color: rgb(0, 200, 150);
	border-bottom: 2px solid rgb(0, 200, 150);
}

.btn-non-active-dark {
	color: rgb(100, 100, 100);
	font-weight: 600;
	width: 120px;
	margin-bottom: -2px;
	padding-top: 10px;
	border-bottom: 2px solid transparent;
}

.btn-non-active-dark:hover {
	color: white;
	border-bottom: 2px solid white;
}

.btn-active {
	color: rgb(124, 148, 92);
	font-weight: 600;
	width: 120px;
	margin-bottom: -2px;
	padding-top: 10px;
	border-bottom: 2px solid rgb(124, 148, 92);
}

.btn-active:hover {
	color: rgb(124, 148, 92);
	border-bottom: 2px solid rgb(124, 148, 92);
}


/***********************FOOTER SECTION****************************/
footer {
	position: fixed;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

.footer-menu button {
	color: rgb(203, 203, 203);
	width: 150px;
	font-weight: 600;
}

.footer-menu-light button {
	color: black
}

.footer-menu-light button:hover {
	color: white;
}

.footer-menu-dark button {
	color: rgb(203, 203, 203);
}

.footer-menu-dark button:hover {
	color: white
}

/***********************HOME SECTION******************************/

div.home {
}

div.img-1 {
	background-image: url("../images/parallax-home.jpg");
	text-align: center;
}

div.floating-box {
	top: 12vh;
	background-color: rgba(74, 98, 22, 0.75);
	padding: 40px;
	border-radius: 25px;
}

div.title-section {
	color: rgb(203, 203, 203);
	margin: 0 auto;
	width: 50vw;
	min-width: 600px;
	text-align: center;
}

div.title-section img {
	margin-bottom: -50px;
	-webkit-filter: invert(100%);
}

div.title-section h1 {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 280%;
	letter-spacing: 10px;
}

div.title-section span {
	font-size: 130%;
}

div.title-section p {
	font-size: 120%;
	letter-spacing: 3px;
	border-top: 1px solid rgb(203, 203, 203);
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 10px;
}