/*************************************WHY US SECTION**************************************************/

div.why-us-anchor {
	position: relative;
	top: 5vh;
}

div.why-us-div {
	background-color: rgb(230, 230, 230);
	position: relative;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	z-index: 900;
}

div.why-us-div table {
	margin: 0 auto;
	border-spacing: 10px;
}

div.why-us-div table tr {
	vertical-align: top;
}

div.why-us-div table tr td {
	background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}

article.advantage-layout {
	background-color: white;
	width: 15vw;
	display: inline-block;
	min-height: 300px;
	min-width: 200px;
	vertical-align: top;
	padding-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-transform: scale(0.9);
}

article.advantage-layout img {
	width: 100px;
	height: 100px;
}

article.advantage-layout p {
	color: rgba(0, 0, 0, 0.8);
	font-size: 90%;
	width: 80%;
	margin: 0px auto;
}

article.advantage-layout:hover {
	-webkit-filter: invert(100%);
	-webkit-transform: scale(1.2);
	-webkit-transition: 0.5s;
}

/*************************************PARTNERS SECTION************************************************/

div.partners-div {
	background-color: white;	
	position: relative;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	z-index: 50;
}

div.partners-div img {
	height: 100px;
	width: auto;
	padding: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
	background-color: white;
	border: 2px solid transparent;
	border-radius: 5px;
	-webkit-transition: border 500ms ease-out;
	vertical-align: middle;
}

div.partners-div img:hover {
	border: 2px solid rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(2.5);
	-webkit-transition: 0.5s;
}

div.partners-div img.vertical {
	width: 150px;
	height: auto;
	vertical-align: top;
}

/***************BG******************/
.overlay.overlay-3 {
	background-color: rgba(23, 46, 13, 0.65);
}

.overlay-3.overlay-bottom {
	top: 60vh;
}

.parallax-3 {
	height: 70vh;
}

.bgimg-3 {
	background-image: url("../images/parallax-3.jpg");
	height: 90vh;
}